#login {
  margin: 200px auto;
  width: 300px;
  padding: 15px;
  border: 1px dotted gray;
}

#login_button {
  border: 1px solid black;
  margin-left: 35%;
  border-radius: 10px;
}

.center-me {
  margin-left: 10%;
}

th {
  text-align: left;
}

.list {
  list-style-type: none;
}

.list li{
  border: 5px gray solid;
  padding: 10px 0px 10px 0px;
  background: pink;
  border-radius: 20px;
  text-indent: 30px;

}
