.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.list {
  list-style-type: none;
}

.list li{
  border: 5px gray solid;
  padding: 10px 0px 10px 0px;
  background: pink;
  border-radius: 20px;
  text-indent: 30px;

}
