<h1 class="logo">FlashMe!</h1>
<form action="/users" method="POST" id="signup">
  <br>
  <label id="signup_text">Create a profile!</label><br><br><br>
    <input class="center-me" type="text" name="user[email]" placeholder="Email"><br><br>
    <input class ="center-me" type="text" name="user[name]" placeholder="Name"><br><br>
    <input class ="center-me" type="password" name="user[password]" placeholder="Password"><br><br>
    <input type="submit" value="Create" id="login_button">
</form>
<!-- <h2 id="signup_text">Create a profile!</h2> -->




