<form action="/login" method="POST" id="login">
  <br>
    <input class ="center-me" type="text" name="user[name]" placeholder="Name"><br><br>
    <input class ="center-me" type="password" name="user[password]" placeholder="Password"><br><br>
    <input type="submit" id="login_button">
</form>
