<form action="/users" method="POST">
  <br>
  <label>Name</label>
    <input type="text" name="user[name]">
  <label>Password</label>
    <input type="text" name="user[password]">
  <br>
  <br>
    <input type="submit" value="Create">
</form>

