<form action="/login" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Logout">
</form>

<div class="login">
</div>
<h1>Decks</h1>
  <h3> Click on a deck to play!</h3>
  <% @decks.each do |deck| %>
    <ul class="list">
      <li>Deck Name: <a href="/decks/<%=deck.id %>"><%= deck.name %></a></li>
      <li>Deck Description: <%= deck.description %></li>
    </ul>
    <hr>
  <% end %>
<a href="/decks/new">Create a new deck! </a>
