<form action="/decks" method="POST">
  <br>
  <label>Deck Name</label>
    <input type="text" name="deck[name]">
  <label>Deck description</label>
    <input type="text" name="deck[description]">

  <br>
  <br>
    <input type="submit" value="Create">
</form>
