<div class="container">
  <h1>Question</h1>
  <h2><%= @card.question %></h2>
  <form action="/decks/<%= @deck.id%>/cards/<%= @index %>" method="POST">
    <input type="text" name="answer">
    <input type="submit">
  </form>
  <h3><%= @error if @error %></h3>
</div>
