<h1>Game</h1>
  <h3>Answer the question!</h3>
  <%= @decks.cards.first.question %>
  <ul class="list">
  <li>
    <label for="answer">Answer?</label>
    <input id="" type="text" name="game[answer]" value="" />
  </li>
  <li>
    <input type="submit" value="Save" />
  </li>
</ul>




