<h1>Deck</h1>
  <h3> <%=@decks.name %></h3>
  <h5> <%=@decks.description %></h5>
  <% @cards.each do |quest| %>
    <ul class="list">
      <li>Question: <%=quest.question%></li>
    </ul>
    <hr>
  <% end %>
  <a href="/decks/play/<%=@decks.id%>">Let's fuckin play! </a>

