<div class="content">
  <a href="/login" class="logout">Logout</a>

  <h1 class="deck_name"><%= @deck.name %></h1>
  <div class="deck_view">
    <h3> <%=@deck.description %></h3>
    <% @cards.each do |quest| %>
    <label>Question: <%= quest.question %></label><br>
    <% end %>
    <a href="/decks/<%= @deck.id%>/cards/0">Let's play!</a>
  </div>
</div>
