<label> Question: <%= @card.question %></label>
<label> Answer: </label>
<form action="/decks/<%=@deck.id%>/<%=@card.id%>" method="POST">
  <input type="text" name= "@card.id[answer]">
  <input tyep="submit">
</form>
